/* header 영역 css */
div > ul.header-ui { background-color: aquamarine;}
div > ul.header-ui > li { list-style-type:none; display: inline; margin-left: 2rem;}
div > ul.header-ui > li.on{ background-color: beige; color: brown; }

/* blog info 영역 css */
div > div.blog-info > dl { background-color: grey; }
div > div.blog-info > dl > dd { font-weight: 700; color: rgb(110, 103, 40); display: inline; margin-left: 2rem; }
div > div.blog-info > dd > dd.on { background-color: lawngreen; font-weight: 1000; color: lemonchiffon; }
div > div.blog-connenct > span { display: none; overflow: hidden; }
div > div.blog-connenct > span.over { display: inline-block; overflow: scroll; }

/* div 영역잡고 선 스타일 내기 
border: 선굵기, style, color
border-radius : 외곽 선 둥근 모서리
*/
div > div.profile-info > div.profile-about-me.on > dl > dd > p > code {font-size: 10px; border-style: groove; border-color: dodgerblue;}
div > div.profile-info > div.profile-about-me.on > dl > dd > div {
    border: 1px outset gold; border-radius: 10px;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
}