div > ul.header-ui { background-color: aquamarine;}
div > ul.header-ui > li { list-style-type:none; display: inline; margin-left: 2rem;}
div > ul.header-ui > li.on{background-color: beige; color: brown;}